.card {
  width: 200px;
  border: 2px solid rgb(84, 84, 84);
  border-radius: 15px;
  box-shadow: 10px 5px 5px rgb(119, 118, 118);
  margin: 10px;
}
.dead {
  background-color: rgba(11, 16, 11, 0.298);
}
.card h3 {
  color: crimson;
}
.card img {
  width: 120px;
  border-radius: 10px;
}
.card p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: rgb(220, 239, 245);
}
